{% extends 'base_profile.html' %}
{% load staticfiles %}
{% block title %}pwd_change{% endblock %}

{% block profile_detail %}
    <div class="ui center aligned header">
        <h1>Change password</h1>
    </div>
    <form class="ui form error" method="post">
        {% if form.errors %}
            <div class="ui error message">
                {{ form.errors }}
            </div>
            {% for field in form  %}
                <div class="{{ field.errors|yesno:'error, ' }} field">
                    {{ field.label }}
                    {{ field }}
                </div>
            {% endfor %}
        {% else %}
            {% for field in form  %}
                <div class="field">
                    {{ field.label }}
                    {{ field }}
                </div>
            {% endfor %}
        {% endif %}
        {% csrf_token %}
        <button class="ui inverted red circular right floated button" type="submit">Submit</button>
    </form>
{% endblock %}
